<div class="aligned_center three_columns">
  <div class="left">
    <%= render :partial => "/shared/sidebar/profile_box_small",:locals => { :user => @user } %>
  </div>

  <div class="left">
    <%= render :partial => "/shared/feed/comment_input"%>
    <ul id="posts">
      <%  for photo in @user.posts_with_offset(0,25) %>
        <li class="left">
          <% case photo.ptype %>
          <%  when "photo" %>
            <%= render :partial => "/shared/feed/photo",:locals => { :photo => photo } %>
          <%  when "message" %>
            <%= render :partial => "/shared/feed/message",:locals => { :photo => photo } %>
          <%  end %>
        </li>
      <%  end %>
    </ul><!--posts-->
  </div><!--left-->

  <div class="right">
    <%= render :partial => "/shared/sidebar/charity_badge", :locals => {:user => @user} %>
    <br/>
    <%= render "/shared/sidebar/square_ad" %>
  </div><!--right-->

</div>