<div class="aligned_center three_columns">
  <div class="left">
    <%= render :partial => "/shared/sidebar/profile_box_small",:locals => { :user => @user } %>
  </div>

  <div class="center">
    <% if  current_user && @user == current_user %>
      <%= render :partial => "/shared/feed/message_input"%>
    <% end %>
    <ul id="posts">
      loading...
    </ul><!--posts-->
  </div><!--left-->

  <div class="right">
    <%= render :partial => "/shared/sidebar/charity_badge", :locals => {:user => @user} %>
    <br/>
    <%= render "/shared/sidebar/square_ad" %>
  </div><!--right-->

</div>

<script>
  getUserPosts("<%=@user.slug%>","posts");
</script>