<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= @page_title or 'PicBounce' %></title>
   
 <!-- TODO set this in controller -->
 
<%if @hide_download_button %> 
 <style type="text/css">
   #header_download_button {
     display: none; 
   }
 </style> 
<% end -%> 
 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="<%= @page_title %> PicBounce" />
  <meta name="description" content="<%= @page_title or "PicBounce is the easiest way to share photos on Twitter and Facebook." %>" />
 
	<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=1.2">

	<link rel="stylesheet" type="text/css" href="/stylesheets/picbounce-mobile.css" />
  

  <link rel="shortcut icon" href="images/Icon32.png" />
  <link rel="apple-touch-icon-precomposed" href="/images/Icon114.png" />
  
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5862637-7']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  



</head>
<body>


  <!-- p style="color: green"><%= flash[:notice] %></p -->
  <div class="container">
    <div class="header_bg">
      <div class="header">
        <a href="/" ><img src="images/logo.png" alt="Picbounce" name="Picbounce" id="logo" /></a>
       </div>
    </div>
  <div class="content_bg" id="home_bg">
    <div class="content">
      <div class="left">
      <div id="info-text">
        <h2>PicBounce is the easiest and fastest way to upload a photo from your iPhone to Facebook or Twitter.</h2>
        </div>
         <a href="/download?home" id="big_download_button" alt="Download Now" > </a>
        </div>  
        
      <div id="upload_thumbs">
        <h2>Recently Uploaded Photos:</h2>
        <a href="/<%= @recent_photos[0].code %>"> <img src="<%= @recent_photos[0].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
        <a href="/<%= @recent_photos[1].code %>"> <img src="<%= @recent_photos[1].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
        <a href="/<%= @recent_photos[2].code %>"> <img src="<%= @recent_photos[2].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
        <a href="/<%= @recent_photos[3].code %>"> <img src="<%= @recent_photos[3].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[4].code %>"> <img src="<%= @recent_photos[4].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
        <a href="/<%= @recent_photos[5].code %>"> <img src="<%= @recent_photos[5].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
        <a href="/<%= @recent_photos[6].code %>"> <img src="<%= @recent_photos[6].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
        <a href="/<%= @recent_photos[7].code %>"> <img src="<%= @recent_photos[7].photo_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>       
      </div>    
    </div>
  </div> 

    <div class="footer">
      <ul class="nav">
        <li><a href="http://www.clixtr.com/about">&copy;2010 Clixtr, Inc.</a></li>
        <li><a href="mailto:contact@picbounce.com">Contact Us</a></li>
        <li><a href="/Picbounce-Legal.pdf">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</body>
</html>
