<div>this is page 2</div>
<div style="padding-left:10px;float:left">
  This is a big photo<BR/>
  This is a photo comment<BR/>
  <%= render "shared/feed/comment_input" %>
  <%= render "shared/feed/post_comment" %>
</div>
<div style="padding-left:10px;margin-left:10px;float:left;background-color:#cccccc">
  <%= render "shared/sidebar/profile_box" %>
  <%= render "shared/sidebar/charity_badge" %>
  <%= render "shared/sidebar/square_ad" %>
</div>