<div>this is page 0</div>

<div style="padding-left:10px;margin-left:10px;float:left;background-color:#cccccc">
  <%= render "shared/sidebar/profile_box_small" %>
  <%= render "shared/sidebar/charity_badge_small" %>
</div>
<div style="padding-left:10px;float:left">
  This a PROFILE NAME <BR/>
  <%= render "shared/feed/comment_input" %>
  <%= render "shared/feed/photo" %>
  <%= render "shared/feed/audio" %>
  <%= render "shared/feed/video" %>
</div>
<div style="padding-left:10px;margin-left:10px;float:left;background-color:#cccccc">
  <%= render "shared/sidebar/slideshow" %>
  <%= render "shared/sidebar/square_ad" %>
  <%= render "shared/sidebar/popular" %>
</div>