  <div class="content_bg" id="home_bg">
    <div class="content">
      <div class="left">
	  <div id="info-text">
        <h2>PicBounce is the easiest and fastest way to upload a photo from your iPhone to Facebook or Twitter.</h2>
        <ul class="feature_list">
          <li class="active"><a>Step 1: Take a<!-- a fun --> photo</a></li>
            <!-- <li>        <a>Step 2: Add optional caption</a></li> -->
            <li>             <a>Step 2: Choose a cool filter <!-- to take your photo from 'so-so' to SWEET! --></a></li>
            <li>             <a>Step 3: Share instantly</a></li>
            <li>             <a>See upload history</a></li>
        </ul>
        </div>
	     <a href="/download?home" id="big_download_button"> </a>
        </div>	
        <div class="right">
          <div id="iphone">	
		    <div class="slide-container">
              <img class="active" src="images/demo00.jpg" alt="Take a photo" />
              <img src="images/demo01.jpg" alt="Add optional caption" />
              <img src="images/demo02.jpg" alt="Add optional filter" />
              <img src="images/demo04.jpg" alt="Upload Photo" />
             <!--  <img src="images/demo06.jpg" alt="Repeat" /> -->
		  	</div>
			<img src="images/iPhone4.png" width="300" alt="PicBounce" />
		  </div>
	    <div id="facebook_iframe">
          <fb:like href="http://www.facebook.com/apps/application.php?id=125208417509976" show_faces="false" width="240px" colorscheme="dark" font="arial"></fb:like>
	    </div>
      </div>
	  <div id="upload_thumbs">
        <h2>Recently Uploaded Photos:</h2>
		<a href="/<%= @recent_photos[0].code %>"> <img src="<%= @recent_photos[0].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[1].code %>"> <img src="<%= @recent_photos[1].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[2].code %>"> <img src="<%= @recent_photos[2].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[3].code %>"> <img src="<%= @recent_photos[3].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[4].code %>"> <img src="<%= @recent_photos[4].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[5].code %>"> <img src="<%= @recent_photos[5].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[6].code %>"> <img src="<%= @recent_photos[6].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[7].code %>"> <img src="<%= @recent_photos[7].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
		<a href="/<%= @recent_photos[8].code %>"> <img src="<%= @recent_photos[8].post_url(:thumb) %>" alt="<%= @recent_photos[0].caption %>"/> </a>
      </div>	
    </div>
  </div> 
