<div class="profile_pic_post left">
  <%= link_to image_tag(photo.user.avatar, :size => "50x50"), photo.user %>
</div>
<div class="left details">
  <div class="post_titles">
    <h3 class="left">
      <%= link_to photo.user.display_name, photo.user %>   
    </h3>
    <small class="left"><span class="timestamp"><%=photo.created_at%></span></small>
  </div>
 
  <p class="left post_titles"><%=photo.text%></p>
  <%= link_to image_tag(photo.post_url(:big), :size => "100x100"), photo %>
</div>

<div class="comments">
  <ul class="left">
    <% for comment in photo.comments %>
      <li class="left">
        <%= render :partial => "/shared/feed/post_comment", :locals => { :comment => comment } %>
        
      </li>
     <%end%>
  </ul>

</div>


<!---->
