<div class="profile_pic_post left">
  <%= link_to image_tag(photo.user.avatar, :size => "50x50"), photo.user %>
</div>
<div class="left details">
  <h3 class="left">
    <%= link_to photo.user.display_name, photo.user %>   
  </h3>
  <small class="left"><span class="timestamp"><%=photo.created_at%></span></small>
  <br class="clear"/>
  <p><%=photo.caption%></p>
  <%= link_to image_tag(photo.post_url(:big), :size => "100x100"), photo %>
</div>
<br class="clear"/>
<div class="comments">
  <ul class="left">
    <% for comment in photo.comments %>
      <li class="left">
        <%= render :partial => "/shared/feed/post_comment", :locals => { :comment => comment } %>
        <br class="clear"/>
      </li>
     <%end%>
  </ul>
  <br class="clear"/>
</div>