<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">

  <head>
    <title><%= @page_title or 'Via.me' %></title>

    <!-- TODO set this in controller -->
    <meta name="google-site-verification" content="d3xDQ8ZZhXOZTCnqiarSXuiaLgxUoQrv5RChtanANkc" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="<%= @page_title %> Via.me" />
    <meta name="description" content="<%= @page_title or "Via.me is a social networking app that lets you easily upload photos on twitter and facebook.  Uploading pictures on twitter and facebook is fast and easy with Via.me" %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= csrf_meta_tag %> 

    <% if @photo %>
      <meta property="og:title" content="Via.me photo by <%=@twitter_screen_name%>" />
      <meta property="og:description" content="<%= @photo.text %>" />
      <meta property="og:image" content="<%= @photo.post_url(:big) || @photo.post_url %>" />
    <% end %>

    <%if @photo && @photo.user %>
      <% if !@photo.user.twitter_screen_name %>
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
      <% end %>
    <% end %>

    <%= stylesheet_link_tag "application" %>

    <%if @hide_download_button %> 
      <style type="text/css">
        #btn_download {
          display: none;	
        }
      </style> 
    <% end -%> 

    <link rel="shortcut icon" href="images/Icon32.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/Icon114.png" />

    <%= javascript_include_tag "application" %>
    

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5862637-7']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript">
      $.fn.emoji = function() {
        return this.each(function(){
          $(this).html(
          $(this).html().replace(/([\ue001-\ue537])/g, $.fn.emoji.replacer)
        );
        });
      };

      $.fn.emoji.replacer = function (str, p1) {
        return p1.charCodeAt(0).toString(16).toUpperCase().replace(
        /^([\da-f]+)$/i,
        '<img src="/images/emoji/emoji-$1.png" alt="emoji" />'
      );
      }
    </script>

    <!-- Share This Button Script -->
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({publisher:'d7c4078e-5c93-4f41-9421-dbe661fc2e83'});
    </script>


    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  </head>
  <body>
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({appId: '291976517493070', status: true, cookie: true, xfbml: true});};
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
    
    
    <!-- Home Page Animation -->
    <script type="text/javascript"> 
      var currentSlide = 1;
 
      function showSlide(index) {
        if (index > 5)
          index = 1;	
        if (index == currentSlide)
          return;
        currentSlide = index;
	 
        $('.slide-container img').stop(true,true);
        $('.feature_list li').removeClass('active');
        $('.feature_list li:nth-child('+index+')').addClass('active');
        var $active = $('.slide-container img.active');
        var $next =  $('.slide-container img:nth-child('+index+')');
 
        $active.addClass('last-active');
 
        $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 500, function() {
          $active.removeClass('active last-active');
        });
      }
 
 
      $(document).ready(function() {		
        $(".feature_list li:nth-child(1)").mouseover(function() { showSlide(1); });
        $(".feature_list li:nth-child(1)").addClass('active');
        $(".feature_list li:nth-child(2)").mouseover(function() { showSlide(2); });
        $(".feature_list li:nth-child(3)").mouseover(function() { showSlide(3); });
        $(".feature_list li:nth-child(4)").mouseover(function() { showSlide(4); });
        /* $(".feature_list li:nth-child(5)").mouseover(function() { showSlide(5); }); */
        $(".slide-container img").click(function() { showSlide(currentSlide+1); });
        showSlide(1);
      });
    </script>
      <div id="header">
          <div class="aligned_center">
          <a href="/" class="left logo"><img src="/images/skin/logo.png"/></a>
          <span class="right">
            <% if user_signed_in? %>
              <span class="left person_icon"></span>
              <span class="left person_name"><a href="/users/me"><%=current_user.screen_name%></a></span>
              <span class="left open_arrow"></span><br class="clear"/>
              <div id="dropdown" style="display:none">
              <ul>
              <li><a href="/settings" >Account</a></li>
              <li><a href="/users/sign_out" >Sign Out</a></li>
              </ul>
              </div>
           <% else %>
              <a href="/users/auth/twitter" class="twitter"></a>
            <% end %>

          </span>
        </div>
      </div>
    


    <% if notice_html or alert_html %>
    
      <br/>   
      <div class="aligned_center three_columns">
        <%= raw notice_html %>
        <%= raw alert_html %>
      </div>
      <br/>    
    <% end  %>

    <div id="main">
      <%= yield %>
    </div>

    <div id="footer">
      <div class="aligned_center"><p align="center">&copy; Focal Labs/Clixtr, Inc.</p></div>
    </div>
  </body>
  <script type="text/javascript">
    $('#caption').emoji();
  </script>
</html>
